<!DOCTYPE html>
<html>
<head>
    <title><%= roomTitle %></title>
    <%- include('./components/header.ejs') %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/client.css">
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/room.js"></script>
    <script src="/javascripts/Chat.js"></script>
    <script src="/javascripts/client.js"></script>
</head>
<body>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p id="title">欢迎进入<%= roomTitle %></p>
            </div>
        
            <div class="panel-body">
                <div id="main" class="col-md-9 col-xs-12 list-group">
                    
                </div>
                <ul id="onlineList" class="col-md-3 hidden-xs list-group">

                </ul>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="输入你想发送的消息" id="input">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="send">发送</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <%- include('./components/enter.ejs') %>
    <%- include('./components/alert.ejs') %>
</body>
</html>
